.box-form_alta{
    min-height: 600px;
    width: 450px;
    margin: 5% auto;
    display: flex;
    flex-direction: column;
    padding: 30px 40px;
    background: rgb(34, 33, 33);
    border-radius: 8px;
}

.logo{
    height: 120px;
    border-radius: 50%;
}

.box-form_alta h2{
    color: rgb(69, 131, 255);
    font-size: 1.8rem;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1rem;
}

.content-input_smallbox{
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* margin-top: 25px; */
}
.input_smallbox{
    width: 46%;
    margin: 7px 0;
}
.combobox{
    width: 100%;
}

label{
    padding: 15px 0px 10px;
    font-size: 1rem;
    color: rgb(143, 143, 143);
    pointer-events: none;
    letter-spacing: 0.05rem;
}

input, .input_smallbox select{
    padding: 15px 10px 10px;
    font-size: 1.1rem;
    letter-spacing: 0.01rem;
    border: none;
    border-radius: 5px;
    outline: none;
    color: white;
    background: rgb(69, 131, 255);
}

.inputbox{
    margin: 8px 0;
}

.box-form_alta .button_alta{
    width: 100%;
    padding: 8px 20px;
    margin-top: 30px;
    border: none;
    border-radius: 4px;
    outline: none;
    font-size: 1.15rem;
    font-weight: 600;
    color: rgb(16, 95, 252);
    background: white;
    cursor: pointer;
}

/* .box-form_alta .button_mostrar{
    width: 100%;
    padding: 8px 20px;
    margin-top: 15px;
    border: none;
    border-radius: 4px;
    outline: none;
    font-size: 1.15rem;
    font-weight: 600;
    color: white;
    background: rgb(69, 131, 255);
    cursor: pointer;
} */